<!DOCTYPE html>
<html>
<body style="background-color:chocolate">

<h1>Your Ticket Details Are :</h1>
<h2>User ID                 :{{user_id}}</h2>
<h2>User Name               :{{user_name}}</h2>
<h2>Train ID                 :{{train_id}}</h2>
<h2>Train Name               :{{train_name}}</h2>
<h2>From Station Name                 :{{from_station_name}}</h2>
<h2>To Station Name               :{{to_station_name}}</h2>
<h2> PNR Number               :{{passenger_pnrno}}</h2>
<h2> Date Of Journey               :{{doj}}</h2>
<h2>Seat Category                 :{{seat_category}}</h2>
<h2>Ticket Fair              :{{ticket_fair}}</h2>
<h2> Status               :{{status}}</h2>
<form action = "http://localhost:5000/logout" method="POST" >	
		<input class="button1" value="Log-out" type="submit" />
</form>
<br>
<br>



</body>
</html>